In [37]:
import pandas as pd
#importar pandas como pd

In [38]:
df = pd.read_csv("C:\\Users\\User\\Downloads\\pokemon_data.csv", index_col = 0)
#ler o arquivo, colocar a coluna # como index

In [39]:
df.head()
#verificar o formato dos dados

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [40]:
df["Stats AVG"] = df[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean(axis=1)
#media de status na coluna "Stats AVG"

In [41]:
df.loc[df["Legendary"] == True].sort_values(by="Stats AVG", ascending=False).head(10)
#10 pokemon lendários com maiores médias de status

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Stats AVG
#,,,,,,,,,,,,
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,130.000000
150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,130.000000
384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,130.000000
382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,128.333333
383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,128.333333
493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,120.000000
646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,116.666667
380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,116.666667
646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,116.666667
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,116.666667

In [23]:
df.loc[df["Legendary"] == False].sort_values(by="Stats AVG", ascending=False).head(10)
#10 maiores medias sem ser lendários

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Stats AVG
#,,,,,,,,,,,,
376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,116.666667
445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,116.666667
373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,116.666667
248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,116.666667
289,Slaking,Normal,NaN,150,160,100,95,65,100,3,False,111.666667
130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,106.666667
260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,105.833333
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,105.666667
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,105.666667
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,105.000000

In [34]:
'''vamos supor que será necessário criar um time com 6 tipos 1 diferentes, com no máximo 1 lendário,
qual a maior média dos status possível para o time?
'''
max_type1 = df[df["Legendary"] == True].groupby("Type 1")[["Stats AVG"]].max()
#cria a variavel com os maiores "Stats AVG" lendários para cada "Type 1"
max_type1.sort_values(by ="Stats AVG", ascending = False)
#mostra por ordem de maior para menor

           Stats AVG
Type 1
Dragon    130.000000
Psychic   130.000000
Ground    128.333333
Water     128.333333
Normal    120.000000
Rock      116.666667
Dark      113.333333
Fairy     113.333333
Fire      113.333333
Ghost     113.333333
Steel     113.333333
Grass     100.000000
Electric   96.666667
Flying     96.666667
Ice        96.666667

In [25]:
max_type1_not_legendary = df[df["Legendary"] == False].groupby("Type 1")[["Stats AVG"]].max()
max_type1_not_legendary.sort_values(by ="Stats AVG", ascending = False)
#repetindo o processo, porém com apenas os maiores não lendários, percebemos que os 5 tipos 1 com o pokemon de maior média
#de status são: Dragão, Ferro, Pedra, Normal, Água

           Stats AVG
Type 1
Dragon    116.666667
Steel     116.666667
Rock      116.666667
Normal    111.666667
Water     106.666667
Fire      105.666667
Grass     105.000000
Fighting  104.166667
Psychic   103.000000
Electric  101.666667
Ghost     100.000000
Dark      100.000000
Bug       100.000000
Ice        96.666667
Fairy      92.000000
Flying     89.166667
Ground     89.166667
Poison     89.166667

In [36]:

#Logo para obter a maior média é só escolher esses primeiros 5 tipos mais um lendário do maior tipo 1 que ainda não temos, 
#que é o psíquico.
#ou seja a melhor opção nessas condições será:
'''
Dragon	116.666667
Steel	116.666667
Rock	116.666667
Normal	111.666667
Water	106.666667
Psychic	130.000000
'''

'\nDragon\t116.666667\nSteel\t116.666667\nRock\t116.666667\nNormal\t111.666667\nWater\t106.666667\nPsychic\t130.000000\n'